Base Master Database Filter by crowd sourced Google Sheet tool template

In [ ]:
import pandas as pd
'''Define variables below before using tool''' 
#Master database variables
colab_uploaded_csv_file_location = ''
master_df_filtered_match_column_name = ''

#Google Sheet Variables 
web_address_header = ''
google_sheet_id = ''
translation_method = ''
google_sheet_tab_id = ''
google_sheet_table_url = f'{web_address_header}{google_sheet_id}{translation_method}{google_sheet_tab_id}'
smaller_df_column_name_to_filter_by = ''

filename = ''
sharable_file_name  = filename + '.csv'

#Desired file name
sharable_file_name = ''

#Main Tool Code
df_translated_from_erap_csv = pd.read_csv(colab_uploaded_csv_file_location)
df_translated_from_googlesheet_csv = pd.read_csv(google_sheet_table_url)
filtered_df = df_translated_from_erap_csv.merge( 
                       df_translated_from_googlesheet_csv, 
                       how='inner',  
                       left_on=master_df_filtered_match_column_name, 
                       right_on=smaller_df_column_name_to_filter_by)

#Filtering out unwanted columns from smaller dataset
drop_columns_list = df_translated_from_googlesheet_csv.columns
left_only_columns_df = filtered_df.drop(axis=1, columns=drop_columns_list)

#Filtering out duplicate rows from unique IP addresses
unique_inner_joined_df = left_only_columns_df.drop_duplicates(subset = [master_df_filtered_match_column_name])
unique_inner_joined_df.to_csv(sharable_file_name)

Working Example (Will produce viewable file called "Sharable Filter Results" as a CSV when run) <br>File will soon be scrubbed from sensitive data and be connected to github for live demonstration.

In [ ]:
import pandas as pd
#Master database variables
colab_uploaded_csv_file_location = '/content/drive/MyDrive/(Sensitive information edited) ERAP Application Database 8.22.22.csv'
master_df_filtered_match_column_name = 'Application # '
#Google Sheet Variables 
web_address_header = 'https://docs.google.com/spreadsheets/d/'
google_sheet_id = '1T4yzDdAxz4Qms3PAT3lxK3UqOLVF7wbI5Te9eRvmX94'
translation_method = '/gviz/tq?tqx=out:csv&sheet='
google_sheet_tab_id = 'resume_python_version'
google_sheet_table_url = f'{web_address_header}{google_sheet_id}{translation_method}{google_sheet_tab_id}'
smaller_df_column_name_to_filter_by = 'Application Number'

filename = 'shareable file results'
sharable_file_name  = filename + '.csv'

#Main Tool Code
df_translated_from_erap_csv = pd.read_csv(colab_uploaded_csv_file_location)
df_translated_from_googlesheet_csv = pd.read_csv(google_sheet_table_url)
filtered_df = df_translated_from_erap_csv.merge( 
                       df_translated_from_googlesheet_csv, 
                       how='inner',  
                       left_on=master_df_filtered_match_column_name, 
                       right_on=smaller_df_column_name_to_filter_by)

#Filtering out unwanted columns from smaller dataset
drop_columns_list = df_translated_from_googlesheet_csv.columns
left_only_columns_df = filtered_df.drop(axis=1, columns=drop_columns_list)

#Filtering out duplicate rows from unique IP addresses
unique_inner_joined_df = left_only_columns_df.drop_duplicates(subset = [master_df_filtered_match_column_name])
unique_inner_joined_df.to_csv(sharable_file_name)

'''file named "sharable file results.csv" will populate under sample data in less than 60 seconds'''

##See below if permissions prevent viewable product

Initial Database (Emergency Rental Assistance Program Application data)

In [ ]:
df_translated_from_erap_csv

,Application #,Step,Status,Tenant First Name,IP_ADDRESS,Day of Tenant DOB,Tenant Address,Landlord ID
0,10021,Step 5,Paid,Tyshawn,71##########,#########5,#######################18,1143120.0
1,10021,Step 5,Paid,Tyshawn,73##########,#########5,#######################18,1143120.0
2,10021,Step 5,Paid,Tyshawn,172#########,#########5,#######################18,1143120.0
3,10021,Step 5,Paid,Tyshawn,172#########,#########5,#######################18,1143120.0
4,10021,Step 5,Paid,Tyshawn,172#########,#########5,#######################18,1143120.0
...,...,...,...,...,...,...,...,...
182564,54719,Step 5,Paid,Denise,NaN,#########6,#######################37,1143920.0
182565,54720,Step 2B,In Process,Stephen,NaN,#########8,#######################PA,NaN
182566,54736,Step 5,Paid,Brittany,NaN,#########4,#######################20,1081700.0
182567,54737,Step 5,Paid,Theroin,NaN,#########4,#######################32,1117400.0
182568,54738,Step 4,Queued,Adam,NaN,#########3,#######################35,NaN

Crowd Sourced Google Sheet to filter by on common values (Temp worker compliance review progress board)

In [ ]:
df_translated_from_googlesheet_csv

,TNumber,Application Number,Current Sheet duplicate Check,Compliance email request?,Recent contact sheet,Property Owner,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,T14238,14238,only entry,Not bulk emailed,only entry,NaN,NaN,NaN,Need intake?,unique,...,intake -8/3,eviction-dismissed-3/8/21,Keep,Keep,Keep,NaN,NaN,NaN,NaN,NaN
1,T24093,24093,only entry,Not bulk emailed,only entry,NaN,NaN,NaN,Need intake?,unique,...,intake 8/3,not enough info denial,Keep,Keep,Keep,NaN,NaN,NaN,NaN,NaN
2,T31406,31406,only entry,Not bulk emailed,only entry,NaN,NaN,NaN,Need intake?,unique,...,NaN,NaN,Keep,Keep,Keep,NaN,NaN,NaN,NaN,NaN
3,T31596,31596,only entry,Not bulk emailed,only entry,NaN,NaN,NaN,Need intake?,unique,...,NaN,NaN,Keep,Keep,Keep,NaN,NaN,NaN,NaN,NaN
4,T34305,34305,only entry,Not bulk emailed,only entry,NaN,NaN,NaN,Need intake?,unique,...,NaN,NaN,Keep,Keep,Keep,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1309,T42183,42183,only entry,Not bulk emailed,only entry,NaN,NaN,NaN,Need intake?,unique,...,can't verify address,NaN,Keep,Keep,Keep,Keep,NaN,NaN,NaN,NaN
1310,T35440,35440,only entry,Not bulk emailed,only entry,NaN,NaN,NaN,Need intake?,unique,...,advertisement on zillow about an auction in se...,NaN,Keep,Keep,Keep,Keep,NaN,NaN,NaN,NaN
1311,T48286,48286,only entry,Not bulk emailed,only entry,NaN,NaN,Mimi,Need intake?,unique,...,rent is high for split apartments,NaN,Keep,Keep,Keep,Keep,NaN,NaN,NaN,NaN
1312,T39150,39150,only entry,Not bulk emailed,only entry,NaN,NaN,Mimi,Need intake?,unique,...,can't verify address,NaN,Keep,Keep,Keep,Keep,NaN,NaN,NaN,NaN
1313,T22211,22211,only entry,Not bulk emailed,only entry,NaN,NaN,NaN,Need intake?,unique,...,can't verify address,NaN,Keep,Keep,Keep,Keep,NaN,NaN,NaN,NaN

Result of filter (Filtered produce of compliance concerned applications within entire ERAP database)

In [ ]:
unique_inner_joined_df

,Application #,Step,Status,Tenant First Name,IP_ADDRESS,Day of Tenant DOB,Tenant Address,Landlord ID
0,10300,Step 5,Paid,Benjamin,NaN,#########8,#######################43,1041700.0
1,10333,Step 5,Closed,Cinnamon,64##########,#########1,#######################12,1206420.0
6,10494,Step 5,Paid,Shannon,72##########,#########1,#######################05,1216230.0
10,10558,Step 5,Closed,Lorena,73##########,#########1,#######################04,1207060.0
12,10846,Step 5,Paid,Taylor,24##########,#########9,#######################13,1210320.0
...,...,...,...,...,...,...,...,...
15836,54344,Step 5,In Process,Keenen,72##########,#########2,#######################36,1212860.0
15844,54346,Step 5,In Process,Amber,73##########,#########4,#######################PA,1167170.0
15845,54356,Step 5,In Process,George,NaN,#########3,#######################21,1205640.0
15846,54361,Step 5,In Process,Jaime,23##########,#########4,#######################14,1172530.0
15848,54436,Step 5,In Process,Kenta,71##########,#########0,#######################32,1215560.0